name: Build and deploy Backend to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install backend requirements from backend folder
      - name: Install backend dependencies
        working-directory: ./backend
        run: |
          python3 -m pip install --upgrade pip
          pip install -r requirements.txt

      # Zip only backend folder for deployment
      - name: Zip backend folder
        run: |
          cd backend
          zip -r ../backend.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-package
          path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

      - name: Deploy zipped backend to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "text2sql-backend-anshika"
          package: backend.zip
